[Unit]
Description=CRUD Flask Application
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=exec
User=samyag
Group=samyag
WorkingDirectory=/home/samyag/crud-app
Environment=PATH=/home/samyag/crud-app/venv/bin
ExecStart=/home/samyag/crud-app/venv/bin/gunicorn --bind 127.0.0.1:5010 --workers 3 --timeout 60 --access-logfile /var/log/crud-app/access.log --error-logfile /var/log/crud-app/error.log src.app:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target